* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    background-image: url('back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, .quote-input {
    font-family: Lato;
}

.quote-container {
    background-color: rgb(133, 188, 240);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    
    position: absolute;
    bottom: 1rem;
}

.WPM {
    position: absolute;
    top: 0.5rem;
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid rgb(55, 135, 211);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.canvas {
    position: absolute;
    top: 4.0rem;
}

canvas.taller-screen {
    top: 8rem;
}

.WPM.taller-screen {
    top: 2rem;
}

button {
    background-color: rgb(55, 135, 211); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    border-radius: 0.5rem;
}

.back-button {
    left: 23rem;

}

button:hover {
    background-color: rgb(117, 172, 223);
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}